<p class="center"> Node Name:  {{nodeName}} | Pod Name: {{podName}} | Pod Ip: {{podIp}} | Pod namespace: {{podNameSpace}} | Pod Service Account {{podServiceAccount}}</p>
<hr/>

<!-- After: include react content which has been bundled into single file by webpack-->
<div class="center" id = "app" />
